body {
    min-height: 800px;
    position: relative;
}

#sandbox {
    line-height: 0;
    position: relative;
    background-color: #999;
}
#cover {
    top: 0;
    left: 0;
    z-index: 9;
    position: absolute;
    text-align: center;
    background-color: rgba(10,10,10,0.5);
}
.tmpl {
    margin: 2px;
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 2px;
    display: inline-block;
}
.flag {
    line-height: 30px;
    display: inline-block;
}

#epitaph {
    margin: 0px;
    font-size: 5em;
    display: inline-block;
}
#modBtns, #optBtns {
    margin-bottom: 5px;
}
#progressInfo b {
    margin-right: 5px;
}
.close {
    background-color: #666;
}

.empty {
    visibility: hidden;
}

.bc1 {
    background-color: rgb(200, 255, 200);
}

.bc2 {
    background-color: rgb(255, 230, 150);
}

.bc3 {
    background-color: rgb(255, 190, 150);
}

.bc4 {
    background-color: rgb(255, 160, 100);
}

.bc5 {
    background-color: rgb(255, 120, 100);
}

.bc6 {
    background-color: rgb(255, 90, 75);
}

.bc7 {
    background-color: rgb(255, 60, 60);
}

.bc8 {
    background-color: rgb(255, 40, 40);
}

.die {
    background-color: red;
}
.wrong {
    background-color: white;
}
.wrong b {
    color: red;
}
.notFound {
    background-color: black;
}
.notFound b {
    color: red;
}
.loseMsg {
    color: red;
    text-shadow: 0 0 20px red;
}
.winMsg {
    color: greenyellow;
    text-shadow: 0 0 20px white;
}
