body {
    min-height: 800px;
    position: relative;
}

#sandbox {
    line-height: 0;
    background-color: #999;
}
#cover {
    top: 0;
    left: 0;
    z-index: 9;
    position: absolute;
}
.tmpl {
    margin: 2px;
    width: 30px;
    height: 30px;
    position: relative;
    border-radius: 2px;
    display: inline-block;
}

#show, .flag {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

.close {
    background-color: #666;
}

.empty {
    visibility: hidden;
}

.bc1 {
    background-color: rgb(200, 255, 200);
}

.bc2 {
    background-color: rgb(255, 230, 150);
}

.bc3 {
    background-color: rgb(255, 190, 150);
}

.bc4 {
    background-color: rgb(255, 160, 100);
}

.bc5 {
    background-color: rgb(255, 120, 100);
}

.bc6 {
    background-color: rgb(255, 90, 75);
}

.bc7 {
    background-color: rgb(255, 60, 60);
}

.bc8 {
    background-color: rgb(255, 40, 40);
}

.die {
    background-color: red;
}
